<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header('Created')">
    <script src="/js/tiymce/tinymce.min.js"></script>
    <script type="text/javascript">
        tinymce.init({
        selector:'#body',
        theme: 'modern',
        width: 600,
        height: 300,
        plugins: [
            'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
            'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
            'save table contextmenu directionality emoticons template paste textcolor'
        ],
        toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons'
    });
        $(document).on('focusin', function(e) {
            if ($(e.target).closest(".mce-window, .moxman-window").length) {
                e.stopImmediatePropagation();
            }
        });
    </script>
</head>
<body>
<div id="root">
    <div th:replace="fragments/nav :: nav"></div>
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <div v-if="isLoggedIn()">
                    <label for="title">Enter the title for post</label>
                    <input v-model="title" class="u-full-width" type="text" placeholder="Enter the title" id="title" />
                    <form method="post">
                    <textarea v-model="body" id="body">Next, get a free TinyMCE Cloud API key!</textarea>
                    </form>
                    <input class="u-full-width button-primary" type="submit" v-on:click="doPost" value="Submit" />
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<div th:replace="fragments/footer :: foot"></div>
<script>
    var app = new Vue({
        el: '#root',
        data: {title: '', body: ''},
        methods: {
            isLoggedIn(){
              return window.Event.isLoggedIn;
            },
            doPost(){

                axios({
                    method:'post',
                    url:'post?access_token=' + getCookie("access_token"),
                    data:{ title:this.title, body:this.body }
                }).then(function (response) {
                    document.location.replace("/");
                }.bind(this));
         }
        }
    })
</script>
</html>