<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Login')" />
<body>
<div id="root">
    <div th:replace="fragments/nav :: nav"></div>
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <h4 id="postHeader">Login</h4>
                <div class="six columns align-center">
                    <label for="title">Username</label>
                    <input v-model="username" class="u-full-width" type="text" placeholder="yourUsername" id="username"/>
                    <label for="body">Password</label>
                    <input v-model="password" class="u-full-width" type="text" id="body"/>
                    <input class="u-full-width button-primary" type="submit" v-on:click="login" value="Submit" />
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<div th:replace="fragments/footer :: foot"></div>
<script>

</script>
</html>